<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNO3D8SHv8QSyQzy6eMNbAGP7lhwCr1uI</string>
	<key>GCM_SENDER_ID</key>
	<string>542204481812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterproject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>my-flutter-projectcli</string>
	<key>STORAGE_BUCKET</key>
	<string>my-flutter-projectcli.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542204481812:ios:e8c7b651521f4dcd2a7201</string>
</dict>
</plist>